div {
  display : flex;
  align-items: center;
  min-height: 40px;
  height: auto;
  border-radius: 20px;
  background-color: #ffffff;
  border: 3px solid #b5b5b5;
  margin: 10px;
}

i {
  padding: 0 15px;
}

div:hover {
  background-color: rgba(181, 181, 181, 0.2);
}
