.btn-light {
  display : block;
  height: 40px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 3px solid #262f34;
}

.btn-blue {
  display : block;
  height: 40px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #59c0fb;
  border: 3px solid #2a678e;
}

.btn-dark {
  display : block;
  height: 40px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #b5b5b5;
  border: 3px solid #262f34;
}

text {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #262f34;
}
