<div class="popup" id="filters-window">

  <h1>Filtres</h1>

  <!-- Building type dropdown -->
  <div class="form-group">
    <label for="buildingType">Rechercher par type</label>
    <div class="dropdown">
      <select id="buildingType" class="form-control" [(ngModel)]="selectedType" (change)="onTypeSelected()">
        <option *ngFor="let type of types" [value]="type">{{ majuscule(type.toLowerCase()) }}</option>
      </select>

      <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">

      <button class="btn-clear" (click)="clearSelection('type')">
        <img class="clear-img" src="../../assets/icones/clear-filter.png" alt="Effacer filtre" height="15" width="15">
      </button>
    </div>

  </div>

  <!-- Region dropdown -->
  <div class="form-group">
    <label for="region">Rechercher par région</label>
    <div class="dropdown">
      <select id="region" class="form-control" [(ngModel)]="selectedRegion" (change)="onRegionSelected()">
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>

      <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">

      <button class="btn-clear" (click)="clearSelection('region')">
        <img class="clear-img" src="../../assets/icones/clear-filter.png" alt="Effacer filtre" height="15" width="15">
      </button>

    </div>
  </div>

  <!-- Departement dropdown -->
  <div class="form-group">
    <label for="departement">Rechercher par département</label>
    <div class="dropdown">
        <select id="departement" class="form-control" [(ngModel)]="selectedDepartement" (change)="onDepartementSelected()">
          <option *ngFor="let departement of departements" [value]="departement">{{ departement }}</option>
        </select>

      <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">

      <button class="btn-clear" (click)="clearSelection('departement')">
        <img class="clear-img" src="../../assets/icones/clear-filter.png" alt="Effacer filtre" height="15" width="15">
      </button>
    
    </div>
  </div>


  <div class="button-container">
    <app-button text="Annuler" [buttonClass]="'btn-light'" (click)="clearSelection('all')"></app-button>
  </div>

</div>
