<div class="popup" id="filters-window">

  <h1>Filtres</h1>

  <!-- Building type dropdown -->
  <div class="form-group">
    <label for="buildingType">Rechercher par Type</label>
    <div class="dropdown">
      <select id="buildingType" class="form-control" [(ngModel)]="selectedType" (change)="onTypeSelected()">
        <option *ngFor="let type of types" [value]="type">{{ majuscule(type.toLowerCase()) }}</option>
      </select>
      <img ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">
    </div>
    <button class="btn btn-clear" (click)="clearSelection('type')">x</button>
  </div>

  <!-- Region dropdown -->
  <div class="form-group">
    <label for="region">Rechercher par Région</label>
    <div class="dropdown">
      <select id="region" class="form-control" [(ngModel)]="selectedRegion" (change)="onRegionSelected()">
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
      <img ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">
      <button class="btn btn-clear" (click)="clearSelection('region')">x</button>

    </div>
  </div>

  <!-- Departement dropdown -->
  <div class="form-group">
    <label for="departement">Rechercher par Département</label>
    <div class="dropdown">
        <select id="departement" class="form-control" [(ngModel)]="selectedDepartement" (change)="onDepartementSelected()">
          <option *ngFor="let departement of departements" [value]="departement">{{ departement }}</option>
        </select>
      <img ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24">
      <button class="btn btn-clear" (click)="clearSelection('departement')">x</button>

    </div>
  </div>


  <div class="button-container">
    <app-button text="Annuler" [buttonClass]="'btn-light'" (click)="clearSelection('all')"></app-button>
    <!--<app-button text="Valider" [buttonClass]="'btn-blue'" (click)="hideFilters()"></app-button>-->
  </div>

</div>
