<div class="popup" id="filters-window">

  <h1>Filtres</h1>

  <!-- Building type dropdown -->
  <div class="form-group">
    <label for="buildingType">Rechercher par type</label>
    <div class="dropdown">
      <select id="buildingType" class="form-control" [(ngModel)]="selectedType" (change)="onTypeSelected()">
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
      </select>
      <img ngSrc='../../assets/arrow.png' alt="Fleche" height="24" width="24">
    </div>
  </div>

  <!-- Region dropdown -->
  <div class="form-group">
    <label for="region">Rechercher par région</label>
    <div class="dropdown">
      <select id="region" class="form-control" [(ngModel)]="selectedRegion">
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
      <img ngSrc='../../assets/arrow.png' alt="Fleche" height="24" width="24">
    </div>
  </div>

  <!-- Departement dropdown -->
  <div class="form-group">
    <label for="departement">Rechercher par département</label>
    <div class="dropdown">
        <select id="departement" class="form-control" [(ngModel)]="selectedDepartement" (change)="onDepartementSelected()">
          <option *ngFor="let departement of departements" [value]="departement">{{ departement }}</option>
        </select>
      <img ngSrc='../../assets/arrow.png' alt="Fleche" height="24" width="24">
    </div>
  </div>

  <div class="button-container">
    <app-button text="Annuler" [buttonClass]="'btn-light'" (click)="clearSelection()"></app-button>
    <app-button text="Valider" [buttonClass]="'btn-blue'" (click)="hideFilters()"></app-button>
  </div>

</div>
