
/* ------ BOUTON LIGHT ------ */
.btn-light {
  display : block;
  height: 40px;
  width: auto;
  padding: 0 40px 0 40px;
  border-radius: 20px;
  background-color: #f6f5f7;
  border: 3px solid #262f34;
}

.btn-light:hover {
  background-color: #262f34;
  color: #f6f5f7;
}


/* ------ BOUTON BLEU ------ */
.btn-blue {
  display : block;
  height: 40px;
  width: auto;
  padding: 0 40px 0 40px;
  border-radius: 20px;
  background-color: #114968;
  border: 3px solid #114968;
  color: #f6f5f7;
}

.btn-blue:hover {
  background-color: #369cd6;
  color: #262f34;
}


/* ------ TEXTE ------ */
text {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #262f34;
}
