
<app-navbar></app-navbar>

<main>
  <h1>Connexion</h1>

  <div class="container">
    <div class="form">
      <label for="email">Email</label>
      <input type="text" id="email" required [(ngModel)]="email">
    </div>

    <div class="form">
      <label for="mdp">Mot de passe</label>
      <input type="password" id="mdp" required [(ngModel)]="mdp">
      <p id="message"></p>
    </div>

    <div class="button-container">
      <app-button text="Annuler" [buttonClass]="'btn-light'" routerLink="../"></app-button>
      <!--<app-button text="ValiderUser" [buttonClass]="'btn-blue'" (click)="valider(1)"></app-button>-->
      <app-button text="Valider" [buttonClass]="'btn-blue'" (click)="valider()"></app-button>
    </div>
  </div>
</main>
