
main {
  background-color: #FDF9EF;
  padding: 40px;
  position: relative;
  height: 93.5vh;
  z-index: 1;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #262f34;
  padding-bottom: 40px;
  text-align: center;
}

.container {
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.form label {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

.form input {
  border: 3px solid #262f34;
  border-radius: 10px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 15% 0 15%;
  align-items: end;
}

a {
  text-decoration: none;
}
