body {
  background-color: #FDF9EF;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #262f34;
  padding: 60px 0 40px 0;
  text-align: center;
}
