<div class="navbar">

  <!-- ======= GLOBAL ======= -->
  
  <!-- CARTE -->
  <div class="option">
    <img ngSrc='../../../assets/icones/logo.png' alt="Accueil" routerLink="../" height="50" width="50" loading="lazy">
  </div>


  <!-- ======= VISITOR ======= -->

  <!-- BOUTON CONNECTER -->
  <a routerLink="connexion" id="btn-connect" *ngIf="currentAuthState === AuthState.Visiteur">
    <app-button text="Se connecter" [buttonClass]="'btn-light'"></app-button>
  </a>


  <!-- ======= USER ======= -->

  <!-- RECHERCHE & FILTRE -->
  <div id="searchBar" *ngIf="currentAuthState === AuthState.User">
    <!-- BARRE DE RECHERCHE -->
    <input #rechercheInput id="recherche" type="text" [placeholder]="placeholderText" [(ngModel)]="selectedNomSource" (change)="rechercher()">
    <img id="clickSearch" ngSrc='../../assets/icones/searchbar.png' alt="Rechercher" routerLink="../" height="24" width="24" loading="lazy">

    <!-- FILTRES -->
    <a class="option" id="filters" (click)="toggleFilters()">
      <img ngSrc='../../assets/icones/filter.png' alt="Filtres" height="24" width="24" loading="lazy">
      <span>Filtres</span>
    </a>
  </div>


  <!-- ======= USER & ADMIN ======= -->

  <!-- MENU -->
  <a class="option" id="opt-account" (click)="toggleMenu()" *ngIf="currentAuthState !== AuthState.Visiteur">
    <img ngSrc='../../assets/icones/menu.png' alt="Menu" height="40" width="40" loading="lazy">
  </a>
  
  <!-- MENU DEROULANT -->
  <div class="menu" id="menu" *ngIf="currentAuthState !== AuthState.Visiteur">
    <!-- COMPTE -->
    <a class="menu-option" routerLink="../account">
      <img ngSrc='../../assets/icones/compte.png' alt="Mon compte" height="24" width="24" loading="lazy">
      <p>Mon compte</p>
    </a>

    <!-- SE DECONNECTER -->
    <a class="menu-option" (click)="deconnexion()" routerLink="../">
      <img ngSrc='../../assets/icones/exit.png' alt="Deconnexion" height="24" width="24" loading="lazy">
      <p>Se déconnecter</p>
    </a>
  </div>
  

  <!-- ======= ADMIN ======= -->

  <!-- SUGGESTION -->
  <div class="option" id="opt-suggest" routerLink="/home-admin" *ngIf="currentAuthState === AuthState.Admin">
    <img ngSrc='../../assets/icones/suggestion.png' alt="Suggestion" height="24" width="24" loading="lazy">
    <span>Suggestions</span>
  </div>

  <!-- HISTORIQUE -->
  <div class="option" id="opt-historique" routerLink="/home-admin/historique" *ngIf="currentAuthState === AuthState.Admin">
    <img ngSrc='../../assets/icones/historique.png' alt="Historique" height="24" width="24" loading="lazy">
    <span>Historique</span>
  </div>

  <!-- CORBEILLE -->
  <div class="option" id="opt-corbeille" routerLink="/home-admin/corbeille" *ngIf="currentAuthState === AuthState.Admin">
    <img ngSrc='../../assets/icones/corbeille.png' alt="Corbeille" height="24" width="24" loading="lazy">
    <span>Corbeille</span>
  </div>

</div>


<app-filters></app-filters>


