<div class="navbar">

  <!-- CARTE -->
  <div class="option">
    <img ngSrc='../../../assets/icones/logo.png' alt="Accueil" routerLink="../" height="50" width="50">
  </div>


  <!-- SUGGESTION -->
  <div class="option" id="opt-suggest" routerLink="/home-admin">
    <img ngSrc='../../assets/icones/suggest.png' alt="Suggestion" height="24" width="24">
    <span>Suggestions</span>
  </div>


  <!-- BARRE DE RECHERCHE -->
  <div id="searchBar">
    <input #rechercheInput id="recherche" type="text" [placeholder]="placeholderText" [(ngModel)]="selectedNomSource" (change)="rechercher()">
    <img id="clickSearch" ngSrc='../../assets/icones/searchbar.png' alt="Rechercher" routerLink="../" height="24" width="24">

    <!-- FILTRES -->
    <a class="option" id="filters" (click)="toggleFilters()">
      <img ngSrc='../../assets/icones/filter.png' alt="Filtres" height="24" width="24">
      <span>Filtres</span>
    </a>
  </div>


  <!-- MENU -->
  <a class="option" id="opt-account" (click)="toggleMenu()">
    <img ngSrc='../../assets/icones/menu.png' alt="Menu" height="40" width="40">
  </a>


  <!-- BOUTON CONNECTER -->
  <a routerLink="connexion" id="btn-connect">
    <app-button text="Se connecter" [buttonClass]="'btn-light'"></app-button>
  </a>
</div>


<!-- MENU DEROULANT -->
<div class="menu" id="menu">

  <!-- COMPTE -->
  <a class="menu-option" routerLink="../account">
    <img ngSrc='../../assets/icones/compte.png' alt="Mon compte" height="24" width="24">
    <p>Mon compte</p>
  </a>

  <!-- PARAMETRES -->
  <a class="menu-option" (click)="deconnect()">
    <img ngSrc='../../assets/icones/exit.png' alt="Deconnexion" height="24" width="24">
    <p>Se déconnecter</p>
  </a>
</div>

<app-filters></app-filters>


