.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  width: 100%;
  background-color: #262f34;


}

/* -------- OPTIONS -------- */
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  cursor: pointer;
}

.option span {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #f6f5f7;
  margin-top: 3px;
}

#opt-suggest {
  display: flex;
}

#opt-account {
  display: flex;
  order: 3
}


/* -------- SEARCH BAR -------- */
#searchOption, #clickSearch{
  cursor: pointer;
}

#searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#searchBar input {
  padding: 5px 5px 5px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: -40px;
  width: 80%;

  font-size: 19px;
  font-family: "Roboto", sans-serif;
}


/* -------- FILTERS -------- */
#filters {
  margin-left: 40px;
  cursor: pointer;
}

app-filters {
  display: flex;
}


/* -------- MENU DEROULANT -------- */
.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 75px;
  right: 0px;
  width: auto;
  background-color: #262f34;
  padding: 0px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}

.menu img {
  margin-right: 10px;
  margin-top: -15px;
}

.menu a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}
