body {
  background: #f6f5f7;
  position: absolute;
}

main {
  display: flex;
  position: relative;
  height: 93.5vh;
  z-index: 1;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-right: 1px solid #262f34;
  width: 23%;
  height: 100%;
  box-shadow: 5px 0 10px rgba(0,0,0,0.5);
}

.selected {
  border: 3px solid #262f34;
}

#information p {
  align-self: flex-start;
}

#container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: white;
  border: 3px solid #262f34;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%
}

.form label {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
  text-align: left;
  margin-left: 20px;
}

.form input, select, textarea {
  border: 1px solid #262f34;
  border-radius: 10px;
  padding: 10px;
}

#batDescription {
  height: 100px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

app-button {
  margin: 20px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

.img {
  display : block;
  height: 40px;
  width: auto;
  padding: 0 40px 0 40px;
  border-radius: 20px;
  background-color: #59c0fb;
  border: 3px solid #2a678e;
}

.img:hover {
  background-color: #2a678e;
  color: #ffffff;
}

/*Modif actuel*/

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.grid-item {
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 100%;
}

.image img{
  width: 100%;
}

.precedent, .suivant {
  background: none;
  border: none;
  margin-top: 20px;
}

.coord{
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.coord input{
  width: 120px;
}
.coord a{
  cursor: pointer;
}
#coord-lat {
  margin-right: 20px;
}

.links-container {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.links-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  /*Texte des balises*/
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}


#sugg-container {
  width: 80%;
}

/*nn*/
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.message a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #d80000;
  cursor: pointer;
}

.sidebar-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 100%; 
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.sidebar img {
  height: 50%;
  margin-bottom: 10px;
}
.sidebar p {
  display: flex;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

.sidebar.show {
  transform: translateX(0);
  right: 0;

}

#map {
  width: 100%;
  height: 600px;
}
