
main {
  background-color: #FDF9EF;
  display: flex;
  position: relative;
  height: 93.5vh;
  z-index: 1;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-right: 3px solid #262f34;
  width: 30%;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
  margin: 30px 0 40px 0;
  text-align: center;
}

.selected {
  border: 3px solid #262f34;
}

#information p {
  align-self: flex-start;
}

#container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: white;
  border: 3px solid #262f34;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%
}

.form label {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

.form input {
  border: 3px solid #262f34;
  border-radius: 10px;
  padding: 10px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  width: 70%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}
