<header>
  <app-navbar></app-navbar>
</header>

<main>

  <aside>
    <h1>Suggestions</h1>
    <div *ngFor="let building of buildings">
      <app-suggestion [batName]="building.nomBatiment"
                      [ngClass]="{'selected': building === buildingInfo}"
                      (click)="building?.id && getBuildingInformation(building.id)"></app-suggestion>
    </div>
  </aside>

  <div id="container">

    <div id="information" *ngIf="buildingInfo">
      <p>Suggestion de : {{ buildingInfo.nomUser }} {{ buildingInfo.prenomUser }}</p>

      <div class="form">
        <label for="batName">Nom du bâtiment</label>
        <input type="text" id="batName" [(ngModel)]="buildingInfo.nomBatiment" disabled>
      </div>

      <div class="form">
        <label for="batType">Type de bâtiment</label>
        <input type="text" id="batType" [(ngModel)]="buildingInfo.type" disabled>
      </div>

      <div class="form">
        <label for="batStatut">Statut </label>
        <input type="text" id="batStatut" [(ngModel)]="buildingInfo.statut" disabled>
      </div>

      <div class="form">
        <label for="batAddress">Adresse</label>
        <input type="text" id="batAddress" [(ngModel)]="buildingInfo.adresse" disabled>
      </div>

    </div>

    <div id="buttons">
      <div class="option">
        <app-button [buttonClass]="'btn-blue'" (click)="valider()">
          <i class="fa-solid fa-check"></i>
        </app-button>
        <p>Valider</p>
      </div>

      <div class="option">
        <app-button [buttonClass]="'btn-blue'" (click)="modifier()">
          <img src="../assets/icones/modifier.png" alt="Modifier">
        </app-button>
        <p>Modifier</p>
      </div>

      <div class="option">
        <app-button [buttonClass]="'btn-blue'" (click)="buildingInfo && supprimer(buildingInfo.id)">
          <img src="../assets/icones/annuler.png" alt="Annuler">
        </app-button>
        <p>Supprimer</p>
      </div>
    </div>

    <!--
    <div id="buttons">

      <img src="../assets/icones/valider.png" alt="Valider" (click)="valider()">

    </div>-->
  </div>

</main>
