body {
  background: #f6f5f7;
  position: absolute;
}

main {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}


/* ----- Aside Suggestion ----- */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-right: 1px solid #262f34;
  min-width: 300px;
  width: 300px;
  height: 100%;
  box-shadow: 5px 0 10px rgba(0,0,0,0.5);
}

.links-container {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 15px 0 20px 0;
}

.links-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

#sugg-container {
  width: 80%;
}

.selected {
  border: 3px solid #262f34;
}


/* ----- Details des suggestions ----- */
#details-container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: white;
  border: 3px solid #262f34;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}

#information p {
  align-self: flex-start;
}


/* ----- Form ----- */
.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-item {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form label {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
  text-align: left;
  margin-left: 20px;
}

.form input, select, textarea {
  border: 1px solid #262f34;
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

#batDescription {
  height: 100px;
}


/* ----- Coordonnées ----- */
.coord{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#coord-lat {
  margin-right: 20px;
}


/* ----- Image ----- */
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 100%;
}

img {
  border-radius: 10px;
}

.image img{
  width: 100%;
}


/* ----- Message doublon ----- */
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #d80000;
  cursor: pointer;
}


/* ----- Partie gauche, étape 2 ----- */
.sidebar-container {
  height: 100%;
  width: 100%;
}

/* ----- Map ----- */
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ----- Information doublon ----- */
.sidebar {
  width: 100%;
  overflow: hidden;
  padding: 30px;
  padding-bottom: 0;
}

.sidebar img {
  height: 250px;
  width: auto;
  margin-bottom: 30px;
}

#double-details p {
  text-align: left;
  margin-left: 10px;
}


/* ----- Buttons ----- */
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

app-button {
  margin: 20px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
}

/* ----- Boutons navigation page ----- */
.precedent, .suivant {
  background: none;
  border: none;
  margin-top: 20px;
}