<div class="navbar">

  <!-- Option "Carte" -->
  <div class="option">
    <img ngSrc='../../assets/home.png' alt="Accueil" routerLink="../home" height="40" width="40">
  </div>


  <!-- Option "Suggestion", initialement cachée -->
  <div class="option" id="opt-suggest">
    <img ngSrc='../../assets/home.png' alt="Suggestion" height="24" width="24">
    <span>Suggestions</span>
  </div>


  <!-- Bar de recherche, initialement cachée -->
  <div id="searchBar">
    <input type="text" placeholder="Rechercher...">
    <img id="clickSearch" ngSrc='../../assets/searchbar.png' alt="Rechercher" routerLink="../home" height="24" width="24">

    <!-- Option "Filtres", initialement cachée -->
    <a class="option" id="filters" (click)="toggleFilters()">
      <img ngSrc='../../assets/filter.png' alt="Filtres" height="24" width="24">
      <span>Filtres</span>
    </a>
  </div>


  <!-- Option "Menu", initialement cachée -->
  <a class="option" id="opt-account" (click)="toggleMenu()">
    <img ngSrc='../../assets/menu.png' alt="Menu" height="40" width="40">
  </a>


  <!-- Bouton "Se connecter" -->
  <!-- <a routerLink="../home-user" id="btn-connect"> -->
    <app-button id="btn-connect" text="Se connecter" [buttonClass]="'btn-light'" (click)="toggleStatus(1)"></app-button>
</div>

<div class="menu" id="menu">
  <div class="menu-option">
    <img ngSrc='../../assets/compte.png' alt="Mon compte" height="24" width="24">
    <a routerLink="../account">Mon compte</a>
  </div>

  <div class="menu-option">
    <img ngSrc='../../assets/parametres.png' alt="Parametres" height="24" width="24">
    <a routerLink="../settings">Paramètres</a>
  </div>
</div>

<app-filters></app-filters>
<app-button id="btn-add-bat" text="Ajouter un bâtiment" [buttonClass]="'btn-blue'"></app-button>
