.map-wrapper {
  position: relative;
  height: 93.5vh;
  z-index: 1;
}

.map-border {
  border: 1px solid white;
  height: 100%;
}

#map {
  height: 99%;
  position: fixed;
  width: 100%;
}

img {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 85px;
  left: 11px;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: none;
  padding: 5px;
}

/* -------- BOUTON AJOUTER BATIMENT -------- */
#btn-add-bat {
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 60px;
}


