.map-wrapper {
  position: relative;
  height: 93.5vh;
  z-index: 1;
}

.map-border {
  border: 1px solid white;
  height: 100%;
}

#map {
  height: 99%;
  position: fixed;
  width: 100%;
}

img {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 85px;
  left: 11px;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: none;
  padding: 5px;
}

#btn-pwa {
  top: 128px;
}

.hover-text {
  position: absolute;
  z-index: 900;
  top: 85.5px;
  left: 42px;
  background: rgb(246, 245, 247);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #262f34;
  width: auto;
  transition: .5s ease;
  opacity: 0;
  font-size: 19px;
  text-align: center;
  padding: 0 10px;
}

#pwa-info {
  top: 128.5px;
}

.img-container:hover .hover-text {
  opacity: 1;
}


/* -------- BOUTON AJOUTER BATIMENT -------- */
#btn-add-bat {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 60px;
}

/* -------- BOUTON SIGNALER DEGATS -------- */
#signal {
  display : block;
  height: 40px;
  width: auto;
  padding: 0 40px 0 40px;
  border-radius: 20px;
  background-color: #114968;
  border: 3px solid #114968;
  color: #f6f5f7;
}

#signal:hover {
  background-color: #369cd6;
  color: #262f34;
}