<div class="map-wrapper">
    <div class="map-border">
      <div class="img-container">
        <img class="image-reset-view" src="assets/icones/location.png" alt="user-location" (click)="resetView()" loading="lazy">
        <p class="hover-text" id="zoom-info">Zoomer sur l'utilisateur</p>
      </div>

      <!--<div class="img-container">
        <img id="btn-pwa" src="assets/icones/pwa.png" alt="install-pwa" (click)="installPWA()" loading="lazy">
        <p class="hover-text" id="pwa-info">Installer en tant qu'application</p>
      </div>-->

      <div id="map"></div>
      
      <div id="popupContent">
        <i class="fas fa-arrow-left" (click)="closePopupContent()"></i>

        <div class="image-details">
          <img [src]="batimentSelectionne?.image" alt="Image du batiment">
        </div>

        <h4>{{ batimentSelectionne?.nom }}</h4>
        <div class="details">
          <p>{{ batimentSelectionne?.etoile }}     
            <span *ngFor="let etoile of etoiles">
              <span class="etoile" [class.remplie]="etoile <= batimentSelectionne?.etoile">★</span>
            </span> 
               sur {{ batimentSelectionne?.etoile }} avis
          </p>

          <br>
          <p><b>Type :</b> {{ batimentSelectionne?.type }}</p>
          <p><b>Statut :</b> {{ batimentSelectionne?.statut }}</p>
        </div>

        <div class="description">
          <p><b>Description :</b></p>
          <p class="scrollable">{{ batimentSelectionne?.description}}</p>
        </div>

        <div id="degradation">
          <p><b>Degradation :</b></p>
          <textarea class="scrollable" placeholder="Veuillez décrire la dégradation en précisant sa nature, son emplacement, etc..."></textarea>
        </div>

        <div class="boutons-container">
          <div class="boutons-details">
            <app-button text="Favoris" [buttonClass]="'btn-blue'"></app-button>
            <app-button text="Noter" [buttonClass]="'btn-blue'"></app-button>
            <app-button text="Dégradation" [buttonClass]="'btn-blue'" (click)="togglDegradation()"></app-button>
          </div>
        </div>
      </div>
      
    </div>
</div>

<app-button id="btn-add-bat" text="Suggérer un bâtiment" [buttonClass]="'btn-blue'" 
routerLink="add-bat" *ngIf="currentAuthState === AuthState.User"></app-button>




