body {
  background-color: rgba(255, 255, 255, 0.582);
}

app-carte{
  position: relative;
  z-index: 1;
}

app-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 2;
}
