<!--<div class="building-details" [class.active]="isActive">-->
<div class="building-details">
  <!--<div class="close-btn" (click)="close()">X</div>
  <h2>{{ building.name }}</h2>
  <img [src]="building.imageUrl" alt="Building Image" loading="lazy">
  <p>Type: {{ building.type }}</p>
  <p>History: {{ building.history }}</p>
  <p>Coordinates: {{ building.coordinates }}</p>-->

  <h1>Nom</h1>

  <div class="form-group">
    <label for="type">Type</label>
    <p id="type"></p>
  </div>

  <div class="form-group">
    <label for="historique">Historique</label>
    <p id="historique"></p>
  </div>

  <div class="form-group">
    <label for="coordonees">Coordonées</label>
    <p id="coordonees"></p>
  </div>
</div>
