
main {
  padding: 40px;
  position: relative;
  height: 87.6vh;
  z-index: 1;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #262f34;
  text-align: center;
  margin-top: -20px;
}

.container{
  position: absolute;
  top : 50%;
  left : 50%; 
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 120vh;
}


/* En tete */
.en-tete {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 1;
  width: auto;
}

.en-tete h4 {
  font-family: "Roboto", sans-serif;
  color: #262f34;
  text-align: center;
  margin: 20px 0;
}

.etapes {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.etape {
  background-color: rgb(129, 129, 129);
  color: #f6f5f7;
  font-weight: bold ;
  border-radius: 50%;
  margin-right: 20px; 
  margin-left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.etapes .etape.complete {
  background-color: #369cd6;
}


/* Card */
.card{
  position: relative;
  justify-content: center;
  width: 100%;
  height: 60vh;
  padding: 30px;
  border-radius: 20px;
  background-color: #f6f5f7;
  color: #262f34;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card1, .card2, .card3, .card4{
  margin: 100px 0;
}


/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px; 
}

.grid-item.img{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* inputs, select, textarea, labels */
.inputs{
  display: flex;
  flex-direction: column;
}

label, p {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #262f34;
  margin-left: 10px;
}

input, select, textarea {
  color: #262f34;
  border: 2px solid #262f34;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

#batDescription {
  height: 240px;
}

.radio-btn-label {
  display: flex;
  flex-direction: row;
  margin-bottom: -4px;
}

#lat {
  margin-bottom: 38px;
}


/* radio-buttons */
.radio-btn {
  margin-right: 10px;
}


/* buttons */
.button-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: auto;
}

#valider-e1 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


/* images */
.img {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 100%;
}

#image {
  margin-top: 20px;
}

.img img{
  width: 90%;
  height: 100%;
  border-radius: 10px;
}
