<app-navbar></app-navbar>

<main>
  <h1>Signaler un nouveau bâtiment</h1>

  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <div class="card" >
        <div class="en-tete">
        <div class="etapes">
            <div class="etape" [ngClass]="{ 'complete': etapeCourante >= 0 }">1</div>
            <div class="etape" [ngClass]="{ 'complete': etapeCourante >= 1 }">2</div>
            <div class="etape"[ngClass]="{ 'complete': etapeCourante >= 2 }">3</div>
            <div class="etape" [ngClass]="{ 'complete': etapeCourante >= 3 }">4</div>
        </div>
        <h4>{{ etapesTitre[etapeCourante] }}</h4>
      </div>

      <!-- ETAPE 1 -->
      <div class="card1" *ngIf="etapeCourante === 0">
        <div class="grid-container">
            <div class="grid-item">
                <div class="inputs">
                    <input type="text" id="batName" formControlName="nomBatiment" placeholder="Nom du bâtiment">
                </div>

                <div class="dropdown">
                  <select id="batType" class="form-control" formControlName="type">
                    <option class="placeholder" value="" disabled selected>Type du bâtiment</option>
                    <option *ngFor="let type of types" [value]="type">{{ majuscule(type.toLowerCase()) }}</option>
                  </select>
                  <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24" loading="lazy">
                </div>

                <div class="dropdown">
                    <select id="batStatut" class="form-control" formControlName="statut">
                      <option class="placeholder" value="" disabled selected>Statut du bâtiment</option>
                      <option *ngFor="let statut of statuts" [value]="statut">{{ majuscule(statut) }}</option>
                    </select>
                    <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24" loading="lazy">
                </div>
            </div>

            <div class="grid-item">
                <div class="inputs">
                    <textarea name="description" id="batDescription" formControlName="description" cols="30" rows="9" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        <div class="button-container">
            <app-button id="valider-e1" (click)="etapeSuivante()" text="Suivant" [buttonClass]="'btn-blue'"></app-button>
        </div>
      </div>
    

    <!-- ETAPE 2 -->
    <div class="card2" *ngIf="etapeCourante === 1">
        <div class="grid-container">
          <div class="grid-item">
            <div class="dropdown">
              <select id="batRegion" class="form-control" formControlName="region" (change)="onRegionChange($event)">
                <option class="placeholder" value="" selected>Région du bâtiment</option>
                <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
              </select>
              <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24" loading="lazy">
            </div>
          
            <div class="dropdown">
              <select  id="batDepartement" class="form-control" formControlName="departement" [disabled]="!departementsEnabled" (change)="onDepartementChange($event)">
                <option class="placeholder" value="" selected>Département du bâtiment</option>
                <option *ngFor="let departement of departements" [value]="departement">{{ departement }}</option>
              </select>
              <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24" loading="lazy">
            </div>
          
            <div class="dropdown">
              <select id="batCommune" class="form-control" formControlName="commune" [disabled]="!communesEnabled">
                <option class="placeholder" value="" selected>Commune du bâtiment</option>
                <option *ngFor="let commune of communes" [value]="commune">{{ commune }}</option>
              </select>
              <img class="drop-arrow" ngSrc='../../assets/icones/arrow.png' alt="Fleche" height="24" width="24" loading="lazy">
            </div>
          </div>
          

          <div class="grid-item">

            <div class="radio-input" id="addresse">
              <input class="radio-btn" type="radio" value="adresse" formControlName="checkboxStatus" (change)="getCoordinates()">
              <input #adresse formControlName="adresse" type="text" name="adresse" id="adresse" placeholder="Adresse">
            </div>

            <div class="radio-input" id="coord">
              <input class="radio-btn" type="radio" value="coord" formControlName="checkboxStatus" (change)="getCoordinates()">
              <input #lat formControlName="lat" type="text" name="lat" id="lat" placeholder="Latitude">
            </div> 

            <div class="inputs">
              <input #lon formControlName="lon" type="text" name="lon" id="lon" placeholder="Longitude">
            </div>

          </div>
        </div>

        <div class="button-container">
            <app-button (click)="etapePrecedente()" text="Précédent" [buttonClass]="'btn-light'"></app-button>
            <app-button (click)="etapeSuivante()" text="Suivant" [buttonClass]="'btn-blue'"></app-button>
        </div>
    </div>

    <!-- ETAPE 3 -->
    <div class="card3" *ngIf="etapeCourante === 2">
        <div class="image-btn-container">
          <label for="image">Ajouter une image :</label>
          <app-button name="image" id="image-btn" text="Ajouter une image" [buttonClass]="'btn-light'"></app-button>
        </div>

        <div class="button-container">
          <app-button (click)="etapePrecedente()" text="Précédent" [buttonClass]="'btn-light'"></app-button>
          <app-button (click)="etapeSuivante()" text="Suivant" [buttonClass]="'btn-blue'"></app-button>
        </div>
    </div>

    <!-- ETAPE 4 -->
    <div class="card4" *ngIf="etapeCourante === 3">
          <div class="grid-container">
            <div class="grid-item">
                <img id="show-img" src={{myForm.value.image}} alt="ok" loading="lazy">
            </div>
            
            <div class="grid-item">
              <p>Nom : {{ myForm.value.nomBatiment }}</p>
              <p>Type : {{ myForm.value.type }}</p>
              <p>Statut : {{ myForm.value.statut }}</p>
              <p>Lieu : {{ myForm.value.region }}, {{ myForm.value.departement }} {{ myForm.value.commune }}</p>
              <p>Coordonnées/Adresse :{{ myForm.value.lat }} {{ myForm.value.lon }} {{ myForm.value.adresse }}</p>
            </div>
        </div>
        
        <div class="button-container">
          <app-button (click)="etapePrecedente()" text="Précédent" [buttonClass]="'btn-light'"></app-button>
          <app-button type="submit" text="Valider" [buttonClass]="'btn-blue'"></app-button>
        </div>
    </div>
  </div>
    </form>
  </div>
</main>
