
<app-navbar></app-navbar>

<main>
  <h1>Signaler un nouveau bâtiment</h1>

  <div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">

      <div class="names">
        <div class="form" id="nameForm">
          <label for="name">Prénom de l'utilisateur</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div class="form">
          <label for="surname">Nom de l'utilisateur</label>
          <input type="text" id="surname" formControlName="surname">
        </div>
      </div>

      <div class="checkbox">
        <input type="checkbox" id="anonyme">
        <label for="anonyme">Rester anonyme</label>
      </div>

      <div class="form">
        <label for="batName">Nom du bâtiment</label>
        <input type="text" id="batName" formControlName="batName">
      </div>

      <div class="form">
        <label for="batType">Type du bâtiment</label>
        <div class="dropdown">
          <select id="batType" class="form-control" formControlName="batType">
            <option value="00">Tous les types</option>
            <option value="maison">Maison</option>
            <option value="appartement">Appartement</option>
            <option value="terrain">Terrain</option>
            <option value="école">École</option>
          </select>
          <img ngSrc='../../assets/arrow.png' alt="Fleche" height="24" width="24">
        </div>
      </div>

      <div class="form">
        <label for="batAddr">Adresse du bâtiment</label>
        <input type="text" id="batAddr" formControlName="batAddr">
      </div>

      <div class="button-container">
        <app-button text="Annuler" [buttonClass]="'btn-light'"></app-button>
        <app-button type="submit" text="Valider" [buttonClass]="'btn-blue'" routerLink="../"></app-button>
      </div>
    </form>
    <!--<div id="picture">Photo</div>-->
  </div>
</main>
